<config>
  <application>localhost;demo;hbxy;hnetv;oldhand;hbxy;riil;www;cs;admin;cw;sh;fs;wh;bj;hh;sz;gz;cd;bz;hy;sy;dt;lf;sm;sp;ly;zw;yz;xt;wlmq;tj;dg</application>
  <email>admin</email>
  <password>admin</password>
  <tag>
  </tag>
  <address>localhost:8000;127.0.0.1:8000;121.196.203.96:8000;116.62.5.130:8000;192.168.0.101:8000;192.168.0.102:8000;192.168.0.22:8000;192.168.0.18:8000;192.168.0.110:8000;192.168.0.118:8000;121.52.221.61:8000;222.240.135.72:8000;61.187.53.67:8000;192.168.0.21:8000;192.168.1.123:8000;61.187.53.67:8000</address>
  <history>
    <item key="get">/xn/rest/1.0/content(id=34484)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'tabs')?from=0&amp;to=10&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'tabs')?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@A_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'tabs')?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'channelfields')?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'channelfields')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=284438)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=284436)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'Archives')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'oaflows')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.uitype=100)?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.uitype=304)?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.uitype=303)?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.uitype=305)?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.tabid@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'Cityarea')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'users')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic location)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic cityarea)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic ChannelFields)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic arctype)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic arctype&amp;my.deleted = 0)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=299653)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic sgpages&amp;my.deleted = 0)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic homepageset)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic Cityarea)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=307963)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'offices')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'offices'&amp;my.deleted=0)?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'location')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=308874)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=283910)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'merchants'&amp;my.deleted = 0)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=283656)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/simplecontent(type eic 'picklists'&amp;my.name = 'recruitbusiness')?xn_out=xml&amp;from=0&amp;to=-1&amp;order=my.sequence@A_N</item>
    <item key="get">/xn/rest/1.0/simplecontent(type eic 'picklists'&amp;my.name = 'recruitbusiness')?xn_out=xml&amp;from=0&amp;to=-1</item>
    <item key="get">/xn/rest/1.0/content(type eic 'picklists'&amp;my.name = 'recruitbusiness')?xn_out=xml&amp;from=0&amp;to=-1</item>
    <item key="get">/xn/rest/1.0/content(type eic 'Merchants'&amp;my.deleted = '0')?xn_out=xml&amp;from=0&amp;to=-1</item>
    <item key="get">/xn/rest/1.0/content(type eic 'categorys')?xn_out=xml&amp;from=0&amp;to=-1</item>
    <item key="get">/xn/rest/1.0/content(type eic 'Categorys')?from=0&amp;to=-1&amp;xn_out=xml </item>
    <item key="get">/xn/rest/1.0/content(id=39479)?from=0&amp;to=-1&amp;xn_out=xml </item>
    <item key="get">/xn/rest/1.0/content(type eic 'vehicleactivity'&amp;my.deleted = 0)?from=0&amp;to=10&amp;xn_out=xml </item>
    <item key="get">/xn/rest/1.0/content(type eic 'vehicleactivity'&amp;my.vehicleapply = 39479)?from=0&amp;to=10&amp;xn_out=xml </item>
    <item key="get">/xn/rest/1.0/profile(id='dqklb3r08i')?xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype'&amp;my.deleted=0)?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype' )?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctypes' )?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype' )?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=280036)?from=0&amp;to=-1&amp;xn_out=xml </item>
    <item key="get">/xn/rest/1.0/content(type eic 'cityarea' )?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'members'&amp;my.deleted = '0')?xn_out=xml&amp;from=0&amp;to=-1</item>
    <item key="get">/xn/rest/1.0/content(id=318800)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=318810)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=318818)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(id=318827)?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields' )?from=0&amp;to=10&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.fieldid &gt; 0 )?from=0&amp;to=10&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/profile(mobile='15974160308')?from=0&amp;to=10&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields')?from=0&amp;to=10&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields')?from=1000&amp;to=1002&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.block &gt; "0")?from=1000&amp;to=1002&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.block &gt; 0)?from=1000&amp;to=1002&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=-1&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml&amp;order=my.sortrank@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml&amp;order=my.sortrank@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.fieldid &gt; 0 )?from=0&amp;to=10&amp;xn_out=xml&amp;order=my.sequence@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.fieldid &gt; 0 )?from=0&amp;to=10&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.fieldid =45441 )?from=0&amp;to=10&amp;xn_out=xml&amp;order=my.sequence@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.tabid = 29&amp;my.presence in ['0','2'])?count=true&amp;xn_out=xml&amp;from=0&amp;to=100&amp;order=published@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.tabid = 29)?count=true&amp;xn_out=xml&amp;from=0&amp;to=100&amp;order=published@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml&amp;order=published@D_N</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml&amp;order=published@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=101&amp;xn_out=xml&amp;order=published@A</item>
    <item key="get">/xn/rest/1.0/content(type eic 'arctype')?from=0&amp;to=10&amp;xn_out=xml&amp;order=published@A</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields')?from=0&amp;to=10&amp;xn_out=xml&amp;order=published@A</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.tabid = 29&amp;my.presence in ['0','2'])?count=true&amp;xn_out=xml&amp;from=0&amp;to=1&amp;order=published@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'fields'&amp;my.tabid = 29&amp;my.presence in ['0','2'])?count=true&amp;xn_out=xml&amp;from=0&amp;to=3&amp;order=published@D</item>
    <item key="get">/xn/rest/1.0/content(type eic 'VehicleActivity')?from=0&amp;to=-1&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'VehicleActivity')?from=0&amp;to=10&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'VehicleActivity')?from=0&amp;to=20&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'tests')?from=0&amp;to=20&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'tests')?from=19&amp;to=20&amp;xn_out=xml</item>
    <item key="get">/xn/rest/1.0/content(type eic 'tests')?from=2009&amp;to=2010&amp;xn_out=xml</item>
  </history>
  <select_application>5</select_application>
  <select_address>0</select_address>
</config>